@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato:400,900');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
    text-align: center;
}

h1 {
    padding: .5em;
    font-size: 3em;
    font-weight: normal;
    font-family: 'Fredoka One';
    color: crimson;
    text-transform: uppercase;
}

table {
    margin: 0 auto;
}

input#inputText, button#addTask {
    height: 2.5em;
    padding: .3em 1em;
    border-radius: 5%;
}

input#inputText {
    border: .1em solid rgb(144, 144, 144);
    outline: none;
    width: 12em;
    background-color: rgb(223, 223, 223);
    transition: all .5s;
}

input#inputText:focus {
    background-color: white;
    width: 18em;
    transition: all .5s;
}

button#addTask {
    border: .15em solid crimson;
    background-color: white;
    color: crimson;

    margin-left: .5em;

    font-weight: bold;

    cursor: pointer;
}

button#addTask:hover {
    background-color: crimson;
    color: white;
   
    transition: all .2s;
}

div#task-list {
    border: 1px solid black;
    border-radius: 10%;
    margin: 2em 18em;
    padding: 2em;
}