@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato:400,900');


:root {
    --primary-color: rgb(220, 20, 60);
    --main-bg: rgb(238, 237, 237);
    --primary-hover: rgb(189, 15, 49);
    --primary-dark: rgb(107, 10, 30);
    --row-color: rgb(230, 230, 230);
    --row-hover: rgb(240, 240, 240);
    --placeholder-color: rgb(167, 167, 167);
    --row-font-color: darkslategrey;
    --row-font-color-hover: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
}

nav.navbar {
    display: relative;
    background-color: var(--primary-color);
    color: white;
    z-index: 0;
}

nav h1 {
    font-family: 'Fredoka One';
    text-transform: uppercase;
    font-size: 1.7rem;
}

h1 > i.fa-check-circle {
    color: var(--primary-dark);
    font-weight: bold;
}

i {
    margin-left: 0rem;
    font-size: 1.5rem;
}

.nav-left-corner {
    border: 1px solid black;
}


.right-corner i:hover {
    color: black;
    cursor: pointer;
}

div.container-fluid {
    position: relative;
    z-index: 0;
}


nav.sidebar {
    box-shadow: 1px 1px 15px black;
    position: relative;
    background-color: rgb(253, 253, 253) !important;
}

div.main {
    background-color: var(--main-bg);
    position: relative;
    z-index: -3;
}


ul{
    list-style-type: none;
}


ul.first-level > li {
    text-transform: uppercase;
    font-weight: bold;
}

li > h2 {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}


ul.second-level li {
    cursor: pointer; 
    margin: .5rem 0rem;   
    padding: .5rem 0rem;
    color: rgb(160, 158, 158);
}

ul.second-level li:hover {
    color: black;
    background-color: var(--row-hover);

}
