@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato:400,900');
:root {
    --primary-color: rgb(220, 20, 60);
    --main-bg: #f8f8f8;
    --primary-hover: rgb(189, 15, 49);
    --row-color: rgb(230, 230, 230);
    --row-hover: rgb(212, 212, 212);
    --placeholder-color: rgb(167, 167, 167);
    --row-font-color: darkslategrey;
    --row-font-color-hover: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Lato';
}

.background {
    background: url(img.jpg);
    background-position: bottom center;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -5;
    position: absolute;
}

.overlay {
    position: absolute;

    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.4);
    z-index: -1;
}

#task-app {
    text-align: center;
    position: absolute;
    
    width: 60%; 
    margin-top: 3em;
    padding: 2em;

    border: 0px;
    border-radius: 2%;
    background-color: var(--main-bg);
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

h1 {
    font-family: 'Fredoka One';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 3.5em;
    color: var(--primary-color);
    text-shadow: 2px 1px 1px rgba(0,0,0,.23);
    margin-top: 1em;
}

#input {
    margin-top: 1.5em;
}

input[type='text'] {
    font-size: 1rem;
    border: 0px;
    width: 10em;
    height: 2em;
    padding: 1em 1em;
    margin-right: .5em;

    background-color: var(--main-bg);
    border-bottom: .1em solid darkslategrey;

    outline: none;

    text-align: center;
    transition: all .3s;
}

input[type='text']:focus {
    width: 18em;
    color: darkslategray;
    background-color: rgba(220, 20, 60, .1);
    border-bottom: 0.1em solid var(--primary-color);
    transition: all .3s;
}

#input > button {
    display: block;
    font-size: 1rem;
    border: 0px;
    border-radius: .3em;
    height: 2em;
    margin: .8em auto;
    padding: 0 1em;
    
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;

    cursor: pointer;
}

#input > button:hover {
    background-color: var(--primary-hover);
}

input::placeholder {
    color: var(--placeholder-color); 
    text-align: center; 
}

#task-list {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: .8em;
    background-color: var(--row-color);
    width: auto;
    border: .5em solid var(--main-bg);
    color: var(--row-font-color);
    cursor: pointer;
    transition: all .3s;
}

td:hover {
    background-color: var(--row-hover);
    color: var(--row-font-color-hover);
    transition: all .3s;
}

#task-list .fa-circle, .fa-check-circle {
    margin-right: .3em;
}

.icons {
    display: inline;
}

.fa-minus-circle {
    float: right;
    margin-right: .7em;
    transition: all .3s;
}

.fa-minus-circle:hover {
    color: red;
    transition: all .3s;
}

.done {
    text-decoration: line-through;
}

#counters {
    background-color: var(--primary-color);
    /* border: 1px solid black; */
    /* TODO
    clear floats after counters section */
}

#counters li {
    list-style-type: none;
    display: inline;
}

#counters li:nth-child(1) {
    float: left;
    margin-left: 5em;
}

#counters li:nth-child(2) {
    float: right;
    margin-right: 5em;
}